/* ==== width === */
.width_001 {
	width: 1%;
}
.width_002 {
	width: 2%;
}
.width_003 {
	width: 3%;
}
.width_004 {
	width: 4%;
}
.width_005 {
	width: 5%;
}
.width_006 {
	width: 6%;
}
.width_007 {
	width: 7%;
}
.width_008 {
	width: 8%;
}
.width_009 {
	width: 9%;
}
.width_010 {
	width: 10%;
}
.width_011 {
	width: 11%;
}
.width_012 {
	width: 12%;
}
.width_013 {
	width: 13%;
}
.width_014 {
	width: 14%;
}
.width_015 {
	width: 15%;
}
.width_016 {
	width: 16%;
}
.width_017 {
	width: 17%;
}
.width_018 {
	width: 18%;
}
.width_019 {
	width: 19%;
}
.width_020 {
	width: 20%;
}
.width_021 {
	width: 21%;
}
.width_022 {
	width: 22%;
}
.width_023 {
	width: 23%;
}
.width_024 {
	width: 24%;
}
.width_025 {
	width: 25%;
}
.width_026 {
	width: 26%;
}
.width_027 {
	width: 27%;
}
.width_028 {
	width: 28%;
}
.width_029 {
	width: 29%;
}
.width_030 {
	width: 30%;
}
.width_031 {
	width: 31%;
}
.width_032 {
	width: 32%;
}
.width_033 {
	width: 33%;
}
.width_034 {
	width: 34%;
}
.width_035 {
	width: 35%;
}
.width_036 {
	width: 36%;
}
.width_037 {
	width: 37%;
}
.width_038 {
	width: 38%;
}
.width_039 {
	width: 39%;
}
.width_040 {
	width: 40%;
}
.width_041 {
	width: 41%;
}
.width_042 {
	width: 42%;
}
.width_043 {
	width: 43%;
}
.width_044 {
	width: 44%;
}
.width_045 {
	width: 45%;
}
.width_046 {
	width: 46%;
}
.width_047 {
	width: 47%;
}
.width_048 {
	width: 48%;
}
.width_049 {
	width: 49%;
}
.width_050 {
	width: 50%;
}
.width_051 {
	width: 51%;
}
.width_052 {
	width: 52%;
}
.width_053 {
	width: 53%;
}
.width_054 {
	width: 54%;
}
.width_055 {
	width: 55%;
}
.width_056 {
	width: 56%;
}
.width_057 {
	width: 57%;
}
.width_058 {
	width: 58%;
}
.width_059 {
	width: 59%;
}
.width_060 {
	width: 60%;
}
.width_061 {
	width: 61%;
}
.width_062 {
	width: 62%;
}
.width_063 {
	width: 63%;
}
.width_064 {
	width: 64%;
}
.width_065 {
	width: 65%;
}
.width_066 {
	width: 66%;
}
.width_067 {
	width: 67%;
}
.width_068 {
	width: 68%;
}
.width_069 {
	width: 69%;
}
.width_070 {
	width: 70%;
}
.width_071 {
	width: 71%;
}
.width_072 {
	width: 72%;
}
.width_073 {
	width: 73%;
}
.width_074 {
	width: 74%;
}
.width_075 {
	width: 75%;
}
.width_076 {
	width: 76%;
}
.width_077 {
	width: 77%;
}
.width_078 {
	width: 78%;
}
.width_079 {
	width: 79%;
}
.width_080 {
	width: 80%;
}
.width_081 {
	width: 81%;
}
.width_082 {
	width: 82%;
}
.width_083 {
	width: 83%;
}
.width_084 {
	width: 84%;
}
.width_085 {
	width: 85%;
}
.width_086 {
	width: 86%;
}
.width_087 {
	width: 87%;
}
.width_088 {
	width: 88%;
}
.width_089 {
	width: 89%;
}
.width_090 {
	width: 90%;
}
.width_091 {
	width: 91%;
}
.width_092 {
	width: 92%;
}
.width_093 {
	width: 93%;
}
.width_094 {
	width: 94%;
}
.width_095 {
	width: 95%;
}
.width_096 {
	width: 96%;
}
.width_097 {
	width: 97%;
}
.width_098 {
	width: 98%;
}
.width_099 {
	width: 99%;
}
.width_100 {
	width: 100%;
}
/* ==== margin padding === */
.margin_padding_0 {
	margin: 0px!important;
	padding: 0px!important;
}
.padding_T0 {
	padding-top: 0px!important;
}
.padding_T5 {
	padding-top: 5px!important;
}
.padding_T10 {
	padding-top: 10px!important;
}
.padding_T15 {
	padding-top: 15px!important;
}
.padding_T20 {
	padding-top: 20px!important;
}
.padding_T30 {
	padding-top: 30px!important;
}
.padding_T40 {
	padding-top: 40px!important;
}
.padding_B0 {
	padding-bottom: 0px!important;
}
.padding_B5 {
	padding-bottom: 5px!important;
}
.padding_B10 {
	padding-bottom: 10px!important;
}
.padding_B15 {
	padding-bottom: 15px!important;
}
.padding_B20 {
	padding-bottom: 20px!important;
}
.padding_B30 {
	padding-bottom: 30px!important;
}
.padding_B40 {
	padding-bottom: 40px!important;
}
.padding_L0 {
	padding-left: 0px!important;
}
.padding_L5 {
	padding-left: 5px!important;
}
.padding_L10 {
	padding-left: 10px!important;
}
.padding_L15 {
	padding-left: 15px!important;
}
.padding_L20 {
	padding-left: 20px!important;
}
.padding_L30 {
	padding-left: 30px!important;
}
.padding_L40 {
	padding-left: 40px!important;
}
.padding_R0 {
	padding-right: 0px!important;
}
.padding_R5 {
	padding-right: 5px!important;
}
.padding_R10 {
	padding-right: 10px!important;
}
.padding_R15 {
	padding-right: 15px!important;
}
.padding_R20 {
	padding-right: 20px!important;
}
.padding_R30 {
	padding-right: 30px!important;
}
.padding_R40 {
	padding-right: 40px!important;
}
.margin_T0 {
	margin-top: 0px!important;
}
.margin_T5 {
	margin-top: 5px!important;
}
.margin_T10 {
	margin-top: 10px!important;
}
.margin_T15 {
	margin-top: 15px!important;
}
.margin_T20 {
	margin-top: 20px!important;
}
.margin_T30 {
	margin-top: 30px!important;
}
.margin_T40 {
	margin-top: 40px!important;
}
.margin_B0 {
	margin-bottom: 0px!important;
}
.margin_B5 {
	margin-bottom: 5px!important;
}
.margin_B10 {
	margin-bottom: 10px!important;
}
.margin_B15 {
	margin-bottom: 15px!important;
}
.margin_B20 {
	margin-bottom: 20px!important;
}
.margin_B30 {
	margin-bottom: 30px!important;
}
.margin_B40 {
	margin-bottom: 40px!important;
}
.margin_B400 {
	margin-bottom: 400px!important;
}
.margin_L0 {
	margin-left: 0px!important;
}
.margin_L5 {
	margin-left: 5px!important;
}
.margin_L10 {
	margin-left: 10px!important;
}
.margin_L15 {
	margin-left: 15px!important;
}
.margin_L20 {
	margin-left: 20px!important;
}
.margin_L30 {
	margin-left: 30px!important;
}
.margin_L40 {
	margin-left: 40px!important;
}
.margin_R0 {
	margin-right: 0px!important;
}
.margin_R5 {
	margin-right: 5px!important;
}
.margin_R10 {
	margin-right: 10px!important;
}
.margin_R15 {
	margin-right: 15px!important;
}
.margin_R20 {
	margin-right: 20px!important;
}
.margin_R30 {
	margin-right: 30px!important;
}
.margin_R40 {
	margin-right: 40px!important;
}
/* ==== clear === */
.crr {
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	clear: both;
}
/* ==== float === */
.float_L {
	float: left;
}
.float_R {
	float: right;
}
/* ==== align === */
.align_C {
	text-align: center!important;
}
img.align_C {
	display: block;
	margin: 0 auto;
}
table.align_C td, table.align_C th {
	text-align: center;
}
.align_L {
	text-align: left!important;
}
.align_R {
	text-align: right!important;
}
.align_T {
	vertical-align: top!important;
}
.align_M {
	vertical-align: middle!important;
}
/* ==== font === */
.font_SS {
	font-size: 0.8em!important;
}
.font_S {
	font-size: 0.9em!important;
}
.font_XS {
	font-size: 0.8em!important;
}
.font_XXS {
	font-size: 0.7em!important;
}
.font_L {
	font-size: 1.1em!important;
}
.font_XL {
	font-size: 1.2em!important;
}
.font_XXL {
	font-size: 1.3em!important;
}
.color_R {
	color: #FF3333!important;
	font-weight: bold!important;
}
.color_O {
	color: orange!important;
	font-weight: bold!important;
}
.color_B {
	color: #00557f!important;
	font-weight: bold!important;
}
.color_G {
	color: green!important;
	font-weight: bold!important;
}
/* ==== table === */
.table_B {
	border-top: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
}
.table_B td {
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	vertical-align: top;
}
.table_B th {
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	background-color: #F2F2F2;
	text-align: center;
	font-weight: bold;
}
.table_B02 {
}
.table_B02 td {
	padding: 5px;
	border-bottom: 1px dotted #D7D7D7;
}
.table_B02 th {
	padding: 5px;
	border-bottom: 1px dotted #D7D7D7;
	text-align: left;
	font-weight: bold;
}
.vertical-align_T td, .vertical-align_T th {
	vertical-align: top;
}
/* ==== ul === */
.ul_B li {
	border-bottom: 1px dotted #CCC;
}
.ol_B li {
	border-bottom: 1px dotted #CCC;
}
/* ==== hr === */
div.hr {
	height: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #999;
}
div.hr:before {
	content: " ";
	clear: both;
}
