@charset "UTF-8";
/*----------------------------------------------------------------------------
******************************************************************************
Layout
******************************************************************************
----------------------------------------------------------------------------*/
/* ==== Base === */
#body_bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: auto 120% cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* ==== Background === */
/* ==== Header === */
#hd {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
#hd h1 {
  width: 400px;
  padding: 40px 0;
}
#hd h1 img {
  width: 100%;
  height: auto;
}

/* ==== Navigation === */
#nav {
  width: 100%;
  overflow: visible;
}
#nav img {
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
#nav img:hover, #nav img.current {
  opacity: 0;
}
#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#nav ul li {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  margin: 0 1px 0 0;
  /*ドロップダウンメニュー用CSS*/
}
#nav ul li:first-child {
  display: none;
}
#nav ul li a {
  font-size: 1.1em;
  color: #222222;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: All 1s ease;
  transition: All 1s ease;
}
#nav ul li a span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  opacity: 0;
  background: #ffffff;
  font-size: 0.9em;
  -webkit-transition: All 0.7s ease;
  transition: All 0.7s ease;
}
#nav ul li a:hover {
  border-bottom: 2px solid #2c50e0;
}
#nav ul li a:hover span {
  opacity: 1;
}
#nav ul li a.current {
  border-bottom: 2px solid #2c50e0;
}
#nav ul li ul {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}
#nav ul li ul li {
  width: 100%;
  display: block;
}
#nav ul li ul li a {
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 10px;
  text-decoration: none;
  color: #fff !important;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#nav ul li ul li a:hover {
  background: rgb(0, 0, 0) !important;
  -webkit-box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
}
#nav ul li ul li ul {
  position: absolute;
  top: 0px;
  left: 100%;
}
#nav ul li ul li ul li {
  width: 100%;
}
#nav ul li ul li ul li a {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

#fix_nav_bg {
  padding: 0px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: -60px;
  z-index: 100;
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
#fix_nav_bg #fix_nav {
  width: 960px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#fix_nav_bg #fix_nav h1 {
  width: 200px;
  margin-right: 20px;
}
#fix_nav_bg #fix_nav h1 img {
  width: 100%;
  height: auto;
}
#fix_nav_bg #fix_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#fix_nav_bg #fix_nav ul li {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  margin: 0 1px 0 0;
  /*ドロップダウンメニュー用CSS*/
}
#fix_nav_bg #fix_nav ul li a {
  font-size: 1.1em;
  color: #222222;
  text-decoration: none;
  display: block;
  padding: 30px 20px;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: All 1s ease;
  transition: All 1s ease;
}
#fix_nav_bg #fix_nav ul li a span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 30px;
  opacity: 0;
  background: #ffffff;
  font-size: 0.9em;
  -webkit-transition: All 0.7s ease;
  transition: All 0.7s ease;
}
#fix_nav_bg #fix_nav ul li a:hover {
  border-bottom: 2px solid #2c50e0;
}
#fix_nav_bg #fix_nav ul li a:hover span {
  opacity: 1;
}
#fix_nav_bg #fix_nav ul li a.current {
  border-bottom: 2px solid #2c50e0;
}
#fix_nav_bg #fix_nav ul li ul {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}
#fix_nav_bg #fix_nav ul li ul li {
  width: 100%;
  display: block;
}
#fix_nav_bg #fix_nav ul li ul li a {
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 10px;
  text-decoration: none;
  color: #fff !important;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#fix_nav_bg #fix_nav ul li ul li a:hover {
  background: rgb(0, 0, 0) !important;
  -webkit-box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
}
#fix_nav_bg #fix_nav ul li ul li ul {
  position: absolute;
  top: 0px;
  left: 100%;
}
#fix_nav_bg #fix_nav ul li ul li ul li {
  width: 100%;
}
#fix_nav_bg #fix_nav ul li ul li ul li a {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.menu_trigger {
  display: none;
}

/* ==== Content === */
#h1_bg {
  width: 100%;
  padding: 30px 0;
  background-size: auto 120% cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-image: url(../images/h1_bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#h1_bg h1 {
  width: 960px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
#h1_bg h1 span {
  font-size: 0.7em;
  display: inline-block;
}
#h1_bg h1 span::before {
  content: "/";
  margin: 0 5px;
}
#h1_bg h1::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#con_bg {
  background: rgb(255, 255, 255);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}
#con_bg #con {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* ==== main === */
#main {
  width: 100%;
  /* ol,ul */
  /* table */
}
#main ol, #main ul {
  padding: 5px 0px 5px 25px;
}
#main ul {
  list-style-type: disc;
}
#main ol li, #main ul li {
  padding: 5px 0px;
}
#main table {
  margin: 10px 0px;
}
#main table th, #main table td {
  padding: 5px;
}
#main h1 {
  font-size: 2.2em;
  font-weight: normal;
  color: #000000;
  padding: 0.7em;
  margin: 0 0 25px 0;
  background: url(../images/h1_bg.png) left center no-repeat #eeeeee;
}
#main h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.6em;
  margin: 50px 0 30px 0;
  border-bottom: 2px solid #2c50e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main h2 span {
  font-size: 0.7em;
  color: #2c50e0;
}
#main h2 span::before {
  content: "/";
  margin: 0 5px;
}
#main h2 a {
  display: inline-block;
  margin-left: auto;
  color: #666666;
  font-size: 0.8em;
  text-decoration: none;
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
#main h2 a::after {
  content: ">";
  margin-left: 10px;
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
#main h2 a:hover {
  color: #aaaaaa;
}
#main h2 a:hover::after {
  margin-left: 5px;
}
#main h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 1px 0 1px 4px;
  margin: 12px 0 8px 0;
  color: #183299;
  border-left: 1px solid #2c50e0;
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

/* ==== side === */
#side {
  width: 220px;
}
#side h2 {
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding: 10px;
  margin: 0 0 6px 0;
  background: url(../images/h2_bg.png) no-repeat #eeeeee;
}

#sidenav {
  width: 100%;
}
#sidenav a {
  width: 100%;
  padding: 8px 6px 8px 23px;
  display: block;
  text-decoration: none;
  background: url(../images/common/sidenav_icon.png) no-repeat 6px center;
  font-size: 12px;
  color: #000000;
  border-bottom: dotted 1px #cccccc;
}

#bnr {
  width: 100%;
}
#bnr li {
  margin-bottom: 4px;
}
#bnr li a {
  width: 100%;
  padding: 16px 16px 16px 42px;
  border: 1px solid #000000;
  border-radius: 3px;
  display: block;
  text-decoration: none;
  background: url(../images/common/bnr_bg.png) no-repeat 16px center;
  font-size: 12px;
  color: #000000;
}

/* ==== center === */
#center {
  width: 10px;
  margin: 0 10px 0 0;
  border-right: 1px solid #dddddd;
}

/* ==== Footer === */
#ft {
  border: 1px solid #eeeeee;
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
}
#ft img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

/*----pagetop----*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0.9em;
  background: #666;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  display: block;
  border-radius: 5px;
  z-index: 100;
}

/*----------------------------------------------------------------------------
******************************************************************************
Original
******************************************************************************
----------------------------------------------------------------------------*/
/* ==== Index === */
#i_img {
  margin: 0 auto;
  width: 100% !important;
  height: calc(100vh - 210px) !important;
  overflow: hidden;
  position: relative;
  background: #ffffff;
}
#i_img h1 {
  width: 600px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 320px);
  z-index: 99;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}
#i_img h1 img {
  width: 100%;
  height: auto;
}
#i_img li {
  width: 100% !important;
  height: 100vh !important;
}
#i_img li:first-child {
  background: url(../images/slideshow/01.jpg) center center no-repeat;
  background-size: cover;
}

@-webkit-keyframes i_img_li_anime {
  0% {
    background-size: cover;
    display: block;
  }
  100% {
    background-size: cover;
  }
}

@keyframes i_img_li_anime {
  0% {
    background-size: cover;
    display: block;
  }
  100% {
    background-size: cover;
  }
}
.i_img_li_anime {
  background-size: auto 100vh !important;
  -webkit-animation: i_img_li_anime 10s linear 0s 1 normal;
          animation: i_img_li_anime 10s linear 0s 1 normal;
}

#i_greeting_bg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#i_greeting_bg #i_temporal_info {
  margin: 30px 0px;
}
#i_greeting_bg #i_greeting {
  width: 960px;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 30px 30px 30px;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
#i_greeting_bg #i_greeting h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin: -20px auto 20px;
  text-align: center;
}
#i_greeting_bg #i_greeting h2 span.i_greeting_h2_text_blue {
  font-size: 0.7em;
  color: #2c50e0;
}
#i_greeting_bg #i_greeting h2 span.i_greeting_h2_text_blue::before {
  content: "/";
  margin: 0 5px;
}
#i_greeting_bg #i_greeting h2 span.i_greeting_h2_text_bg {
  padding: 6px 12px;
  display: inline-block;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
#i_greeting_bg #i_greeting #i_greeting_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#i_greeting_bg #i_greeting #i_greeting_con #i_greeting_con_img {
  width: 300px;
}
#i_greeting_bg #i_greeting #i_greeting_con #i_greeting_con_img img {
  width: 100%;
  margin-bottom: 10px;
}
#i_greeting_bg #i_greeting #i_greeting_con #i_greeting_con_text {
  width: 100%;
}

#news.i_news {
  max-height: 500px;
  overflow: auto;
}
#news table {
  width: 100%;
}
#news table tr {
  border-bottom: 1px dotted #cccccc;
}
#news table td {
  vertical-align: top;
  font-size: 0.9em;
  padding: 30px 10px;
  white-space: nowrap;
}
#news table td:first-child {
  background: url(../images/common/news_icon.png) 4px 37px no-repeat;
  padding-left: 20px;
  width: 140px;
}
#news table td:last-child {
  white-space: normal;
}
#news table td:last-child .i_news_img {
  width: 300px;
  float: right;
  margin: 10px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
#news table td:last-child .i_news_img img {
  width: 100%;
  height: auto;
}

#projects_topics_con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#projects_topics_con .projects_topics {
  width: calc(33.3333333333% - 20px);
  padding: 10px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  z-index: 10;
  -webkit-transition: All 0.8s ease;
  transition: All 0.8s ease;
}
#projects_topics_con .projects_topics a {
  color: #222222;
  text-decoration: none;
  -webkit-transition: All 0.8s ease;
  transition: All 0.8s ease;
}
#projects_topics_con .projects_topics:hover {
  background: #2c50e0;
}
#projects_topics_con .projects_topics:hover a {
  color: #ffffff;
}
#projects_topics_con .projects_topics:hover h3 {
  color: #ffffff;
  border-color: #ffffff;
}
#projects_topics_con .projects_topics:hover::before {
  left: 0%;
  top: 0%;
}
#projects_topics_con .projects_topics:hover::after {
  right: 0%;
  bottom: 0%;
}
#projects_topics_con .projects_topics img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #2c50e0;
}

/*----people----*/
.people_list_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.people_list_box .people_list {
  width: calc(50% - 40px);
  margin: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.people_list_box .people_list .people_list_img {
  width: 110px;
}
.people_list_box .people_list .people_list_img img {
  width: 100%;
  height: auto;
}
.people_list_box .people_list .people_list_text {
  width: 100%;
}
.people_list_box .people_list .people_list_text.people_faculty {
  width: calc(100% - 130px) !important;
}
.people_list_box .people_list .people_list_text .people_list_title {
  color: #2c50e0;
  font-size: 1.2em;
  font-weight: bold;
}
.people_list_box .people_list .people_list_text .people_list_title span {
  display: block;
  margin: 0 0 5px 0;
  font-size: 0.9em;
}
.people_list_box .people_list .people_list_text .people_list_icon {
  color: #222222;
  font-weight: bold;
  display: block;
  font-size: 1em;
  margin: 3px 0 0 0;
}
.people_list_box .people_list .people_list_text a {
  color: #999999;
  display: inline-block;
  font-size: 0.9em;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.people_list_box .people_list .people_list_text a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #222222;
  position: absolute;
  bottom: 0;
  left: -100%;
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.people_list_box .people_list .people_list_text a:hover {
  color: #222222;
}
.people_list_box .people_list .people_list_text a:hover::after {
  left: 0;
}

/*----publications----*/
.publications_list {
  width: 100%;
}
.publications_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -25px;
}
.publications_list ul li {
  width: calc(50% - 30px);
  margin: 30px 15px;
  padding: 20px 5px 0 5px !important;
  border-top: 2px solid #2c50e0;
  list-style-type: none;
}
.publications_list ul li span.publications_underline {
  border-bottom: 1px solid #222222;
}

/*----vision----*/
.vision_box img {
  display: block;
  margin: 0 auto 20px;
  width: 760px;
}