.poster_image {
    margin-bottom: -20px !important;
    width: 30% !important;
}

.tab {
    border: 1px solid #000;
    table-layout: fixed;
    width: 100%;
    overflow-wrap: anywhere;
}



@media only screen and (max-width: 750px) {
    .poster_image {
        width: 70% !important;
        margin-bottom: 0px !important;
    }
}